---
import Tornado from './Tornado.astro';
---

<article>
  <h1
    class="text-4xl font-bold text-center text-[#0c08ff] dark:text-purple-400 mb-12"
    data-aos="fade-up"
    data-aos-duration="800"
    data-aos-anchor-placement="bottom-bottom"
  >
    SOBRE MÍ
  </h1>

  <div class="grid grid-cols-12 gap-8 md:gap-0">
    <section
      class="col-span-12 md:col-span-6 lg:col-span-5 xl:col-span-4 flex justify-center md:justify-end"
    >
      <div
        class="flex justify-center items-center rounded-full size-64 my-6 md:my-0"
      >
        <Tornado customClass={true} />
      </div>
    </section>

    <section
      class="aos-text col-span-12 md:col-span-6 lg:col-span-7 xl:col-span-8"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-offset="-150"
    >
      <div class="w-full flex justify-center h-full items-center">
        <div class="text-pretty prose dark:prose-invert px-6">
          <p>
            Hola, soy <span class="font-semibold">Jheferson</span>, un
            apasionado <span>desarrollador de software</span> de 24 años que vive
            en <span class="font-semibold">Colombia</span>.
          </p>

          <p>
            Con más de <span class="font-semibold">1 año de experiencia</span> en
            el desarrollo frontend y backend, me especializo en crear soluciones
            modernas, funcionales y escalables que impactan positivamente a los usuarios.
          </p>

          <p>
            Soy una persona <span>curiosa</span> y con una rápida capacidad de aprendizaje,
            lo que me permite adaptarme a nuevos desafíos y tecnologías con facilidad.
            Además, disfruto compartir conocimientos y colaborar en equipo para alcanzar
            los mejores resultados.
          </p>

          <p>
            Mi enfoque perfeccionista en cada proyecto me motiva a entregar
            trabajo de la más alta calidad, siempre buscando innovar y superar
            expectativas.
          </p>
        </div>
      </div>
    </section>
  </div>
</article>

<script is:inline>
  (function init() {
    const adjustAnimationsForMobile = () => {
      const isMobile = window.innerWidth < 768;
      const items = document.querySelector('.aos-text');
      if (isMobile) {
        items.setAttribute('data-aos-offset', '-500');
      } else {
        items.setAttribute('data-aos-offset', '-100');
      }
    };
    adjustAnimationsForMobile();
    window.addEventListener('resize', adjustAnimationsForMobile);
  })();
</script>
