---
import Layout from '../layouts/Layout.astro';
import 'aos/dist/aos.css';
import SectionContainer from '../components/astro/SectionContainer.astro';
import Porjects from '../components/astro/Projects.astro';
import Experience from '@/components/astro/Experience.astro';
import '../assets/globals.css';
import About from '@/components/astro/About.astro';
import Tornado from '@/components/astro/Tornado.astro';
import SocialPill from '@/components/astro/SocialPill.astro';
import GitHub from '@/components/icons/GitHub';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import Mail from '@/components/icons/Mail.astro';
---

<Layout
  title="Portfolio de Jheferson Checa, desarrollador web y estudiante de ingeniería de sistemas. Con experiencia en desarrollo web, diseño de interfaces y desarrollo de aplicaciones móviles, algunas aplicaciones de escritorio entre otras habilidades."
  description="Portfolio de Jheferson Checa,desarrollador web y estudiante de ingeniería de sistemas. Con experiencia en desarrollo web, diseño de interfaces y desarrollo de aplicaciones móviles, algunas aplicaciones de escritorio entre otras habilidades."
>
  <SectionContainer class="top mt-0 md:mt-24">
    <div class="flex flex-col items-center justify-center">
      <div
        class="flex justify-center items-center rounded-full size-44 my-6 md:my-0"
      >
        <Tornado />
      </div>
    </div>
    <h1
      class="text-5xl font-bold mb-4 text-center mt-8"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-anchor-placement="bottom-bottom"
    >
      Hola, soy <span class="text-[#3034ff] dark:text-[#8a5fff]"
        >Jheferson Checa</span
      >
    </h1>
    <p
      class="text-xl my-8 text-center"
      data-aos="fade-up"
      data-aos-delay="150"
      data-aos-duration="800"
      data-aos-anchor-placement="bottom-bottom"
    >
      Desarrollador <span class="text-purple-600 font-bold dark:text-blue-300"
        >Full Stack</span
      >, apasionado por el <span
        class="text-blue-600 font-bold dark:text-purple-400"
        >desarrollo web</span
      >
      y la tecnología.
    </p>
    <p
      class="max-w-[745px] mx-auto text-center mb-8 dark:text-white/50 text-black/70 font-medium text-lg"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="300"
      data-aos-anchor-placement="bottom-bottom"
    >
      Soy un estudiante de ingeniería de sistemas, apasionado por el desarrollo
      web y la tecnología. Me encanta aprender cosas nuevas y estoy siempre
      buscando nuevas formas de mejorar mis habilidades.
    </p>
    <div
      class="flex flex-row justify-center gap-4"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="450"
      data-aos-anchor-placement="bottom-bottom"
    >
      <nav
        class="flex gap-x-4 flex-wrap gap-y-4 md:gap-y-0 justify-center md:justify-start"
      >
        <SocialPill
          href="https://www.linkedin.com/in/jheferson-danni-checa-diaz-3386052a4/"
        >
          <LinkedInIcon class="size-7" />
        </SocialPill>
        <SocialPill href="mailto:jheferson.checa@gmail.com">
          <Mail class="size-7" />
        </SocialPill>
        <SocialPill href="https://github.com/JhefersonCh">
          <GitHub className="size-7" />
        </SocialPill>
      </nav>
    </div>
  </SectionContainer>

  <SectionContainer class="mt-36" id="projects">
    <Porjects />
  </SectionContainer>

  <SectionContainer class="mt-44" id="experience">
    <Experience />
  </SectionContainer>

  <SectionContainer class="mt-44" id="about">
    <About />
  </SectionContainer>
</Layout>

<script>
  import AOS from 'aos';
  (function () {
    AOS.init({});
  })();
</script>
